@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "微軟正黑體";
/*	border: solid 1px #ccc;*/
	list-style: none
}
html,body{
	scroll-behavior: smooth;
}
:root{
	--red: #E04646;
	--blue: #D0E5F4;
	--dark-blue: #85A0ED;
	--orange: #FF8040;
	--green: #65CEBA;
	--gray: #f4f4f4;
	--shape1: polygon(30% 0,70% 0,100% 30%,100% 70%,70% 100%,30% 100%,0 70%,0 30%)
}
#menu{
	position: fixed;
	z-index: 99;
	background: var(--green);
	padding: 15px;
	font-size: 20px;
	top: 0;
	left: 5%;
	transform: translateY(-95%);
	cursor: pointer;
	transition: .8s;
}
#menu:hover{
	transform: translateY(0);
}
#menu::before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	transform: translateY(99%);
	border: solid 55px #fff;
	border-color: var(--green) transparent transparent transparent;
}
#menu li{
	margin-bottom: 10px
}
#menu a{
	color: #fff;
	position: relative
}
#menu a:hover{
	color: var(--orange);
}
#menu a::before{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0; 
	width: 0;
	height: 2px;
	background: var(--orange);
	transition: .3s
}
#menu a:hover::before{
	width: 100%;
}
.fa-bars{
	position: absolute;
	font-size: 30px;
	color: #fff;
	left: 50%;
	transform: translate(-50%,5px)
}
section{
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
#home{
	background: url(../img/home1.jpg) center no-repeat;
	background-size: cover;
	animation: slide calc(4*4s) infinite;
	color: #fff
}
@keyframes slide{
	0%,100%{
		background: url(../img/home1.jpg) center no-repeat;
		background-size: cover;
	}
	25%{
		background: url(../img/home2.jpg) center no-repeat;
		background-size: cover;
	}
	50%{
		background: url(../img/home3.jpg) center no-repeat;
		background-size: cover;
	}
	75%{
		background: url(../img/home4.jpg) center no-repeat;
		background-size: cover;
	}
}
#home a{
	text-decoration: none
}
#home .col-sm-3,#home .col-sm-6{
	display: flex;
	justify-content: center;
	align-items: center
}
.datetime{
	font-size: 40px;
	position: relative
}
.title-box{
	width: 530px;
	height: 530px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	text-align: center
}
.title-box span{
	position: absolute;
	width: 120%;
	height: 120%;
	top: -10%;
	left: -10%;
	border: solid 3px #fff;
	background: rgba(0,0,0,0.1);
	box-shadow: 0 0 5px #fff,inset 0 0 5px #fff;
}
.title-box span:nth-child(1){
	border-radius: 52% 50% 62% 72%;
	animation: run 4s infinite ease-in
}
.title-box span:nth-child(2){
	border-radius: 60% 68% 70% 48%;
	animation: run 4s infinite ease-out
}
.title-box span:nth-child(3){
	border-radius: 70% 55% 44% 66%;
	animation: run 4s infinite ease-in-out
}
@keyframes run{
	100%{
		transform: rotate(360deg);		
	}
}
.title-box h1{
	font-size: 65px;
	font-weight: 900;
	margin-bottom: 20px;
	z-index: 1;
}
.title-box table{
	z-index: 1;
	white-space: nowrap
}
.title-box th,.title-box td{
	font-size: 35px;
	padding: 0 20px;
}
.slogan{
	color: #fff;
	font-size: 20px;
	line-height: 200%
}
.fa-angle-double-down{
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 70px;
	color: gray;
	transition: .3s;
}
.title-box:hover i{
	color: #fff
}
#about{
	background: var(--gray) url(../img/about.png) center no-repeat;
	background-size: cover
}
#about .container{
	height: 100%;
}
#about .row:nth-child(1){
	height: 40%;
}
#about .row:nth-child(2){
	height: 60%;
}
#about h3{
	font-weight: bold;
	color: var(--green)
}
.ab-box,.item-imgbx{
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline-box{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
}
.ab-box{
	border-bottom: solid 2px #ccc
}
.ab-box h3{
	writing-mode: vertical-rl;
	margin-right: 20px;
}
.ab-box p{
	font-size: 20px;
	line-height: 200%;
	text-align: justify;
}
.timeline{
	position: relative;
	line-height: 300%;
	font-size: 18px;
	color: var(--green)
}
.timeline a{
	text-decoration: none;
	color: var(--green)
}
.timeline a:hover{
	color: var(--orange)
}
.timeline p:hover{
	color: var(--orange);
	cursor: default
}
.timeline::before{
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background: var(--green);
	left: -10px
}
.timeline p::after{
	position: absolute;
	content: "●";
	left: -15px;
	font-size: 10px;
	color: var(--green)
}
.timeline p:hover::after{
	color: var(--orange);
}
.item{
	margin-top: 10px
}
.item p{
	font-size: 18px;
	text-indent: 2em;
	text-align: justify
}
.item label{
	font-size: 18px;
	color: red
}
progress{
	border: solid 1px #666;
	border-radius: 10px;
	overflow: hidden
}
progress::-webkit-progress-bar{
	background-color: #fff;
}
progress::-webkit-progress-value{
	background: linear-gradient(45deg,orange,red);
}
.img-group{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.img-group img{
	width: calc(100%/3.5);
	height: 180px;
	cursor: pointer;
	transition: .2s;
	border-radius: 10px
}
.img-active{
	transform: scale(1.15);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5)
}
.item-imgbx img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5)
}
#news{
	background: var(--gray);
}
.select-block .col-sm-4,
.option-block{
	display: flex;
	justify-content: center;
	align-items: center
}
.select-block{
	background: #fff;
	padding: 8px 20px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	margin-top: 10px;
}
.select-block h4{
	font-weight: 900;
	cursor: pointer;
	position: relative;
	margin-bottom: 0;
}
.select-block i{
	font-size: 18px;
	margin-right: 5px;
	color: red;
}
.option-block .btn{
	margin: 10px 20px;
	border-radius: 20px;
	background: #fff;
	border: solid 1px #ccc;	
}
.option-block .btn:focus{
	background: gray;
	color: #fff;
	border: 0;
	box-shadow: none;
}
.article-container{
	height: 50vh;
}
.article-imgbx{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column
}
.main{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	line-height: 250%;
	font-size: 18px;
	text-align: justify
}
.main h3{
	font-weight: 900
}
.article-imgbx img{
	width: 280px;
	height: 280px;
	z-index: 1
}
.decoration{
	position: absolute;
	width: 280px;
	height: 280px;
	border: solid 5px var(--green);
	transform: translate(20px,20px);
	z-index: 0
}
.block-container{
	width: 4000px;
	display: flex;
	justify-content: center;
	animation: marquee 25s infinite linear;
}
.block-container:hover{
	animation-play-state: paused
}
@keyframes marquee{
	0%{
		transform: translate(0)
	}
	100%{
		transform: translate(-50%)
	}
}
.block-container>div{
	width: 2000px;
	display: flex;
	justify-content: flex-start;
}
.block{
	width: 250px;
	height: 30vh;
	position: relative;
	cursor: pointer
}
.block img{
	height: 100%;
	width: 100%;
}
.block::after{
	position: absolute;
	content: "查看更多";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	transition: .3s;
	pointer-events: none
}
.block:hover::after{
	opacity: 1
}
.data{
	display: flex;
	justify-content: center;
	align-items: center;
}
.data ul{
	z-index: 99;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.data h4{
	margin: 15px;
	border-left: solid 3px var(--orange)
}
.data li{
	font-size: 20px;
	padding: 10px
}
.data li:hover{
	background: var(--orange);
	color: #fff;
	cursor: pointer
}
.data a{
	text-decoration: none;
	display: block;
	color: #000
}
/*
#trend{
	background: var(--gray) url(../img/trend.png) center no-repeat;
	background-size: cover;
	background-attachment: fixed
}
*/
.trend-row{
	height: calc(100%/3);
	display: flex;
	justify-content: space-around;
	align-items: center;
	filter: drop-shadow(0 0 3px rgba(0,0,0,0.3))
}
.trend-row:nth-child(2){
	flex-direction: row-reverse
}
.trend-box,.join-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background: #fff;
}
.trend-box{
	width: 230px;
	height: 230px;
	clip-path: var(--shape1);
	cursor: pointer;
}
.trend-box:hover a{
	color: blue
}
.trend-box p{
	padding: 15px;
}
.join-box{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	transform: translateY(-10px);	
	border: solid 10px var(--dark-blue);
	padding: 20px;
}
.left{
	transform: translateX(50%)
}
.right{
	transform: translateX(-50%)
}
.trend-imgbx{
	position: relative;
}
.trend-imgbx h3{
	position: absolute;
	bottom: 15%;
	left: -10%;
	background: var(--dark-blue);
	font-weight: 900;
	font-style: italic;
	color: #fff
}
.img1{
	background: url(../img/item9.jpg) center no-repeat;
	background-size: cover
}
.img2{
	background: url(../img/news1.jpg) center no-repeat;
	background-size: cover
}
.img3{
	background: url(../img/news2.jpg) center no-repeat;
	background-size: cover
}
.img1 ~ h3{
	background: var(--green)
}
.img2 ~ h3{
	background: var(--orange)
}
.img3 ~ h3{
	background: var(--dark-blue)
}
@keyframes jump{
	50%{
		transform: scale(1.1)
	}
}
.jump{
	animation: jump .3s ease-in
}
#question{
	width: 100%;
	height: 100%;
	background: var(--blue);
	padding: 20px 0;
}
#question .col-sm-3{
	display: flex;
	justify-content: center;
	align-items: center
}
#question .card{
	width: 250px;
	height: 250px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	position: relative;
	overflow: hidden
}
.front,.backface{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 20px;
}
.front{
	top: 0;
	position: absolute;
	transition: .5s;
	text-align: center
}
.front h3{
	font-weight: 900
}
.front i{
	font-size: 70px;
	margin-bottom: 20px;
	color: var(--dark-blue)
}
.backface{
	text-align: justify;
}
.backface p{
	font-size: 18px	
}
#question .card:hover .front{
	top: -100%;
}
#contact{
	background: url(../img/contact.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center
}
.official-info{
	color: #fff
}
.official-info ul{
	margin-bottom: 30px
}
.official-info li{
	font-size: 20px;
	text-indent: 2em;
}
.official-info i{
	display: initial
}
.fans{
	display: flex;
	margin-bottom: 20px;
}
.fans i{
	font-size: 30px;
	cursor: pointer
}
#contact textarea,
#contact input{
	outline: none;
	border: none;
	border-bottom: solid 1px #fff;
	background-color: transparent;
	color: #fff;
	resize: none;

}
.contact-form{
	background: rgba(0,0,0,0.5);
	padding: 30px 50px;
	color: #fff;
	font-size: 20px
}
.contact-form input,
.contact-form textarea{
	width: 300px
}
.contact-form label{
	display: block;
}
.btn-group{
	display: flex;
	justify-content: space-around;
	align-items: center
}
.icon-bar{
	position: fixed;
	bottom: 2%;
	right: 1%;
	z-index: 100
}
.icon-bar i{
	background: #fff;
	font-size: 35px;
	color: var(--green);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: solid 5px var(--green);
	cursor: pointer;
	margin-bottom: 5px;
	transition: .3s
}
.icon-bar a{
	text-decoration: none
}
.chart img{
	margin: auto;
	width: 100%
}
.btn-close{
	color: red;
	font-size: 30px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px
}
.robot-container{
	position: fixed;
	width: 300px;
	height: 350px;
	background: #fff;
	border: solid 3px var(--green);
	right: 2%;
	bottom: 25%;
	border-radius: 10px;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: .8s;
	display: flex;
  	flex-direction: column;
}
.open{
	opacity: 1;
	visibility: inherit
}
.msg-box{
	height: 80%;
	padding: 20px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
.msg-box>div{
    display: flex;
}
.r-ansr{
    justify-content: flex-start;
}
.r-ansr p{
    background: var(--blue);
    border-radius: 10px 10px 10px 0;
    padding: 10px;
}
.p-qu{
    justify-content: flex-end;
}
.p-qu p{
    background: gray;
    color: #fff;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
}
.q-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 20%;
    border-top: solid 1px #000
}
.q-block .btn{
    border-radius: 10px;
  	background: var(--green);
	color: #fff
}
.modal-content{
	width: 600px
}
@media (max-width: 700px){
	section,.article-container,.trend-row{
		height: 100%;
	}
	#home{
		height: 100vh;
	}
	.title-box{
		width: 300px;
		height: 300px;
		transform: scale(0.8);
	}
	.title-box h1{
		font-size: 35px;
		transform: scale(0.8)
	}
	.title-box th,.title-box td{
		font-size: 25px;
		padding: 5px;
	}
	.title-box i{
		font-size: 40px
	}
	.main{
		padding: 20px 50px;
	}
	.trend-box{
		margin: auto
	}
	.left,.right{
		transform: translateX(0)
	}	
	#contact{
		flex-direction: column;
	}
	.modal-content{
		width: 100vw;
	}
}










